body {
  font-family: 'Open Sans', sans-serif;
  width: 1128px 1128px;
}
header {
  padding-top: 2.58233rem;
}

.banner-container {
  background-image: url('../resources/img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  overflow: hidden;
  width: 1128px;
  margin: auto;
}
.banner-title {
  width: 100%;
  background-image: linear-gradient(#070707, #07021100);
}
.banner-text {
  padding: 11.05rem 15%;
  filter: brightness();
  text-align: center;
}
.banner-small-text {
  color: #fff;
  font-family: 'merriweather';
  font-size: 1.66rem;
  margin-top: 1rem;
  font-weight: 400;
}
.banner-large-text {
  font-family: 'merriweather', serif;
  color: #fff;
  font-size: 70px;
  text-align: center;
  font-weight: 800px;
  line-height: 5.937rem;
}
/* off section */
.off-section-container {
  text-align: center;
  width: 1128px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
}
.off-red-text {
  color: #f00;
  text-align: center;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.fourth-red-text {
  color: #f00;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.middle-heading-text {
  color: #070211;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
/* party section */
.party-container {
  background-image: url('../resources/Vectorrr.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1rem;
  background-size: cover;
  overflow: hidden;
  /* margin-top: 70px; */
  width: 1128px;
  margin: auto;
}

.all-party {
  background-image: linear-gradient(to right, #070212, #07021112);
  display: flex;
  justify-content: space-between;
}
.party-texts {
  padding: 7.7rem;
  padding-right: 1.9rem;
}
.party-texts .heading-three-party {
  line-height: 4.5377rem;
}
.party-texts p {
  color: #ffffffdf;
}
.heading-three-party {
  color: #fff;
  font-family: 'Merriweather';
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  width: 640px;
}
.party-texts-button {
  background: none;
  border: none;
  color: hsla(0, 0%, 100%, 0.926);
  font-size: 0.9281rem;
  border-radius: 0.5rem;
  padding: 1.66rem 1.238rem;
  text-decoration: none;
}
.image-party {
  margin-top: 3.5144rem;
  margin-right: 7.91rem;
}
#partyTime {
  width: 1128px;
  height: 350px;
  background-image: linear-gradient(#ff000029, #ff00000b);
  margin: auto;
  margin-top: 65px;
  text-align: center;
  font-size: 30px;
}
.spanContainer .first-text {
  color: red;
}
.spanContainer .second-text {
  color: black;
}
.spanContainer {
  display: inline-block;
  margin-top: 100px;
}
.btn {
  border: 0 solid black;
  border-radius: 12px;
  background-color: #ff6348;
  color: white;
  font-size: 23px;
  margin-top: 20px;
  padding: 15px 20px;
}
#happy-container {
  width: 1128px;
  margin: auto;
  margin-top: 65px;
  display: flex;
  align-items: center;
}
.first-style {
  margin-right: 80px;
}
.first-style h4 {
  color: red;
}
.first-style h3 {
  color: black;
  font-size: 28px;
}
.first-style p {
  color: rgba(0, 0, 0, 0.5);
}
#happy-container .image-style {
  border: 12px solid red;
  border-radius: 50%;
  padding: 30px;
}
#happy-container .second-style {
  margin: 40px 50px 0 80px;
}
.second-style h3 {
  color: red;
  font-size: 28px;
}
.second-style p {
  color: rgba(0, 0, 0, 0.5);
}
.second-style img {
  width: 100px;
}
.sale-container {
  text-align: center;
  margin-top: 70px;
  width: 1128px;
  margin: auto;
}
.sale-img {
  background-image: url('../resources/Rectangle\ 2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 42rem;
  border-radius: 1rem;
}
.sale-img .image-one {
  width: 39%;
  padding-left: 62%;
}
.image-two {
  position: relative;
  bottom: 55%;
  right: -10%;
}
.sale-heading {
  color: #070211c6;
  font-size: 1.23rem;
  font-weight: 500;
}
/* section portfolio */
.portfolio-container {
  /* margin-top: 70px; */
  width: 1128px;
  margin: auto;
  overflow: hidden;
}
.paragraph-text {
  max-width: 70%;
}
.red-text {
  color: #f00;
}
#images-area {
  display: flex;
  margin-bottom: 65px;
  margin-top: 20px;
}
.images-row {
  flex: 33.33%;
  padding: 10px;
}
.newsletter-container {
  text-align: center;
  border-radius: 1rem;
  background: rgba(255, 0, 0, 0.004);
  padding: 4.124rem 0;
  margin-top: 70px;
  width: 1128px;
  margin: auto;
}
.newsletter-container > p {
  padding: 0 11rem;
}
.newsletter-container .comming-text {
  margin-top: 2.07rem;
  margin-bottom: 1.14rem;
}
.sub-box input[type='email'] {
  padding: 1.25rem 14rem 1.27rem 1.55rem;
  border: none;
  outline: none;
  border-radius: 3.13rem 0 0 3.13rem;
  margin-right: 0;
  background-color: #edb6b6;
  background-size: cover;
}
.sub-box input[type='submit'] {
  padding: 1rem 2.47rem;
  background-color: #f00;
  border: none;
  outline: none;
  font-size: 1.03125rem;
  font-weight: 600;
  margin-left: 0;
  border-radius: 0 3.13rem 3.13rem 0;
  transition: all 0.5s;
}
.sub-box input[type='submit']:hover {
  background-color: rgba(163, 12, 12, 0.983);
}
.footer-container-one {
  margin-top: 70px;
  width: 1128px;
  margin: auto;
}
footer {
  background: #070211f3;
  padding-top: 6.1875rem;
  padding-bottom: 6.1875rem;
}
footer p {
  color: #fff;
}
.row {
  display: flex;
  justify-content: space-between;
}
.col-p-r-7 {
  padding-right: 7rem;
}
.col-p-r-7 p {
  display: flex;
  align-items: center;
  gap: 0.825rem;
}
footer .social {
  margin: 2.46rem auto;
}
footer .social img {
  margin-left: 1.236rem;
  transition: all 0.5s;
}
footer .social img:hover {
  scale: 100%;
}
footer .footer-container {
  margin: 0;
}
footer hr {
  background: #ffffff26;
  border: 1px solid #ffffff26;
}
footer a {
  text-decoration: none;
}
